html {
    background-color: rgb(164, 164, 243);
    font-family: "Baskervville", Georgia, serif;
}
body {
    background-color: rgb(217, 243, 246); /* orange- #feb45f */
    width: 600px;
    margin: 0 auto;
    border: 5px double black; /* border-radius */
    border-radius: 60px;
    padding: 0px 20px 20px 20px;
}
img {
    display: block;
    width: 50%;
    margin: 20px auto;
    /* display: none; */ 
    /* width: 70% */
    /* margin: 20px auto; */
}
h1 {
    margin: 20px 0;
    font-size: 60px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
p, li {
    /* display: inline; */
    font-size: 24px;
    line-height: 2;
    letter-spacing: 1px;
}
.bold {
    font-weight: bold;
    color: cadetblue;
}
li.bold {
    font-style: italic;
}
p.bold {
    text-decoration: underline;
}

.coolbox {
    border: mediumseagreen dotted 3px;
    border-radius: 30px;
    padding: 20px;
    margin: 10px;
    background-color: beige;
}

p,li,h1,img {
    transition: transform .2s ease-in-out
}

li:hover, h1:hover, img:hover {
    transform: scale(1.2);
}

/* combined selector */
/* <span> inline <div> block */